.accordion .button {
    -fx-pref-height: 30;
    -fx-pref-width: 150;
    -fx-background-color:  #1E90FF;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-row-valignment: center;
    -fx-column-halignment: center;
}
.hidden{
    visibility: false;
}